:root {
  --main-primary-color: #eddcd9;
  --main-secondary-color: #264143;
  --heading-font-family: "playfair display", serif;
  --default-font-family: "poppins", sans-serif;
}

.container body {
  color: #f2ebe9;
}

h2 {
  font-family: var(--heading-font-family);
  padding-top: 40px;
}

h1 h4 {
  font-family: var(--heading-font-family);
}

p {
  font-weight: normal;
  font-family: var(--default-font-family);
  opacity: 70;
  line-height: 30px;
}

.featured {
  text-align: center;
}
.hero {
  background-color: var(--main-primary-color);
  text-align: center;
  padding: 160px 0;
  top: 0px;
}

.hero p {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: var(--main-secondary-color);
}

.hero h1 {
  font-family: playfair display;
  font-weight: bold;
  font-size: 96px;

  text-align: center;

  color: var(--main-secondary-color);
}

.hero h2 {
  font-family: poppins;
  font-weight: normal;
  font-size: 24px;
}

.btn-branding {
  background: #de5499;
  padding: 10px;
  width: 200px;
  color: #ffffff;
}

.btn-branding-outline {
  border: solid 1px;
  padding: 10px;
  width: 200px;
  border-color: #de5499;
  color: #de5499;
}

.btn-branding-outline:hover {
  border: solid 1px;
  padding: 10px;
  width: 200px;
  border-color: #de5499;
  color: #de5499;
}

.btn-branding:hover {
  background-color: #de5499;
  color: #ffffff;
}

.project-description {
  padding: 120 60px;
  padding-top: 40px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
  }
}

.about-section h1 {
  font-size: 60px;
  font-family: var(--heading-font-family);
  color: var(--main-secondary-color);
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
  color: var(--main-secondary-color);
}

.about-section {
  padding: 160px 0;
  padding-left: 100px;
}

.work-section h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  color: var(--main-secondary-color);
}

.work-section h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.work-section {
  padding: 80px 0;
  padding-left: 40px;
}

.contact-info {
  padding-top: 160px;
}

.social-media {
  font-size: 18px;
  color: #de5499;
}

.social-media:hover {
  color: #de5499;
}
.contact-info h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 20px;
}

nav li {
  text-decoration: none;
  list-style: none;
  font-family: (--default-font-family);
  margin-left: 15px;
  display: inline;
}

nav a {
  text-decoration: none;
  color: #de5499;
  opacity: 70%;
  font-size: 16px;
  transition: all 100ms ease-in-out;
}
nav {
  background-color: var(--main-primary-color);
  padding: 20px 0;
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

nav a:hover {
  text-decoration: none;
  color: #de5499;
}

li.active {
  color: #de5499;
  opacity: 150%;
  font-weight: bold;
  font-style: var(--default-font-family);
}

.navigation-container {
  background-color: var(--main-primary-color);
}

footer .social-links {
  font-size: 30px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  color: var(--main-primary-color);
}

footer .social-links:hover {
  color: #de5499;
}

footer .email-link {
  color: var(--main-secondary-color);
  font-family: var(--default-font-family);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

footer .email-link:hover {
  color: (--main-secondary-color);
}
